.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin: 16px;
  padding: 16px;
  width: 300px;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

p {
  font-size: 16px;
  margin-bottom: 4px;
}

/* Country details page section*/
.country-details{
  border: 1px solid black;
}
.info-container{
  border: 1px solid red;
}
.details-list{
  border: 1px solid green;
}